@import "globals";

// navbar starts
.navbar__container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.267);
    z-index: 1000;
    background-color: whitesmoke;

    // logo
    .navbar__logo {
        font-size: 2rem;
        font-weight: 800;
        letter-spacing: 4px;

        & span:nth-of-type(2) {
            color: $theme-red;
        }
    }

    // nav items
    .navbar__navLink {
        font-size: 1rem;
        transition: font-size 200ms linear 0s;

        &:hover {
            color: $theme-red;
            font-weight: 600;
            font-size: 1.1rem;
        }
    }
}
